body {

    padding-top: 70px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

/* Navigation */

.navbar-brand span {
    color: red;
}

.navbar-nav li form {
    padding-top: 15px;
    padding-bottom: 15px;
}

/* Homepage */

.fix-slide-window1000 {
    width: 1000px;
    height: 600px;
}

/* Timer */
.timer {
    font-size: 4em;
    text-align: center;
}
.timer-unactivated {
    color: #bbbbbb;
}

.timer-activated {
    color: tomato;
}

.btn-unactivated {
    background-color: gray;
}


/* Common */

.content-padding-10px {
    padding: 10px;
}
.activated-background {
    background-color: #d5d5d5;
}

.task-tag-list {
    display: inline-block;
    list-style: disc;
}
.task-tag-list ul {
    display: block;
}

.timer-tag {
    display: inline-block;
    margin: 0 6px 0 0;
    text-align: match-parent;
    color: #ffffff;
}

.timer-tag a {
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
    padding: 5px;
    line-height: 1.5em;
    font-size: 1.1em;
}

.timer-tag a:hover {
    background-color: tomato;
}

.task-tag-unactivated {
    background-color: #bbbbbb;
}

.task-tag-activated {
    background-color: tomato;
}

.small-icon {
    border-radius: 10px;
    background: #8AC007;
    padding: 5px;
    width: 60px;
    height: 60px;
}

.medium-icon {
    border-radius: 10px;
    background: #8AC007;
    padding: 5px;
    width: 100px;
    height: 100px;
}

.large-icon {
    border-radius: 10px;
    background: #8AC007;
    padding: 5px;
    width: 150px;
    height: 150px;
}

table span {
    font-size: 1.1em;
    font-family: Arial;
}

.styled {
    font-family: Arial;
    color: #ffffff;
    background-color: lightsteelblue;
    padding: 2px 5px 2px 5px;
}

.text-warning {
    color: red;
    border: lightgrey solid 1px;
}

div.margin-bottom {
    margin-bottom: 40px
}

@media screen and (max-width: 600px) {
    .conditional-display-600, .conditional-display-900 {
        display: none;
    }
}

@media screen and (min-width: 600px) and (max-width: 900px){
    .conditional-display-900 {
        display: none;
    }
}

@media screen and (min-width: 900px){

}


/* Animation */

/*
From:
http://stackoverflow.com/a/20640006/1151321
*/
/*
 The animate class is apart of the element and the ng-enter class
 is attached to the element once the enter animation event is triggered
*/
.show-animation.ng-enter {
    -webkit-transition: .3s linear all; /* Safari/Chrome */
    -moz-transition: .3s linear all; /* Firefox */
    -o-transition: .3s linear all; /* Opera */
    transition: .3s linear all; /* IE10+ and Future Browsers */
}

/**
 * Pre animation -> enter
 */
.show-animation.ng-enter{
    /* The animation preparation code */
    opacity: 0;
}

/**
 * Post animation -> enter
 */
.show-animation.ng-enter.ng-enter-active {
    /* The animation code itself */
    opacity: 1;
}
