<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>CS5610 Web Project - Pomodoro Time Management</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/pomodoro.css">

</head>
<body ng-app="timerApp" ng-controller="navController as navCtrl">

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">P<span>o</span>m<span>o</span>d<span>o</span>r<span>o</span></a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <!-- user already logged in-->
            <div ng-show="currentUser">
                <ul class="nav navbar-nav">
                    <li ng-class="{active:isActive('/timer')}"><a href="#/timer">Start Timer</a></li>
                    <li ng-class="{active:isActive('/dashboard')}"><a href="#/dashboard">Dashboard</a></li>
                    <li ng-class="{active:isActive('/profile')}"><a href="#/profile">Profile</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <span class="glyphicon glyphicon-user"></span>&nbsp;{{currentUser}}</a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Friends</a></li>
                            <li><a href="#">Messages</a></li>
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Change password</a></li>
                            <li><a ng-click="navCtrl.logout()">Logout</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Help center</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--for login-->
            <div ng-hide="currentUser">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <form class="form form-inline">
                            <div class="form-group">
                                <input type="text" class="form-control input-sm" placeholder="Username" ng-model="navCtrl.account.username">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control input-sm" placeholder="Password" ng-model="navCtrl.account.password">
                            </div>
                            <button class="btn btn-default btn-sm" ng-click="navCtrl.login()" type="button">Login</button>
                            <span>|</span>
                            <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#registerModal" type="button">Register</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="show-animation" ng-view></div>


<!-- Modal Register -->

<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Register</h4>
            </div>
            <div class="modal-body">
                <p>{{navCtrl.registerError}}</p>
                <form class="form-horizontal" name="registerForm" ng-show="navCtrl.inRegister">
                    <div class="form-group">
                        <label for="rusername" class="col-sm-2 control-label">Username: </label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="rusername" name="rusername" ng-model="navCtrl.newUser.username" placeholder="User name" required>
                        </div>
                        <div class="text-danger" ng-show="registerForm.rusername.$error.required">
                            Required
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password1" class="col-sm-2 control-label">Password: </label>
                        <div class="col-sm-4">
                            <input ng-model="navCtrl.newUser.password1" name="password1" type="password" class="form-control" id="password1" placeholder="Password" required  minlength="6" maxlength="10">
                        </div>
                        <div class="text-danger" ng-show="registerForm.password1.$error.required">
                            Required
                        </div>
                        <div class="text-danger" ng-show="registerForm.password1.$error.minlength">
                            Too short. At least 6 characters
                        </div>
                        <div class="text-danger" ng-show="registerForm.password1.$error.maxlength">
                            Too Long. At most 8 characters
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password2" class="col-sm-2 control-label">Re-enter Password: </label>
                        <div class="col-sm-4">
                            <input ng-model="navCtrl.newUser.password2" name="password2" type="password" class="form-control" id="password2" placeholder="Password" required>
                        </div>
                        <div class="text-danger" ng-show="myregisterFormForm.password2.$error.required">
                            Required
                        </div>
                        <div class="text-danger" ng-hide="navCtrl.matchPassword()">
                            Password not match
                        </div>
                    </div>
                    <button class="btn btn-primary col-sm-offset-2" ng-disabled="!registerForm.$valid || !navCtrl.matchPassword()" type="button" ng-click="navCtrl.register()">Register</button>
                </form>
                <p ng-show="!navCtrl.inRegister">
                    Register successful!
                </p>
            </div>
        </div>
    </div>
</div>


<!-- Message Modal -->
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Message</h4>
            </div>
            <div class="modal-body">
                <p>{{errorMessage}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="errorMessage = ''">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="../js/angular.min.js"></script>
<script src="../js/angular-route.min.js"></script>
<script src="../js/angular-animate.min.js"></script>
<script src="../js/bootstrap.min.js"></script>

<script src="js/pomodoro.js"></script>
<script src="js/home.js"></script>
<script src="js/dashboard.js"></script>
<script src="js/timer.js"></script>

<script src="js/httpService.js"></script>

</body>
</html>