<div class="container">

    <!-- Show Project page -->
    <div ng-hide="showDetailPage()">
        <!-- Projects owned by current user -->
        <div>
            <h2 class="styled"><span class="glyphicon glyphicon-asterisk"></span> Owned Projects </h2>

            <div class="row">

                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Project</th>
                        <th class="conditional-display-600">Description</th>
                        <th class="conditional-display-900">#Contributors</th>
                        <th class="conditional-display-900">#Tasks</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tr ng-repeat="pid in currentUser.ownedProjects">
                        <td><img class="small-icon" ng-src="{{allProjects[pid].picUrl}}"></td>
                        <td><span> {{allProjects[pid].name}}</span></td>
                        <td class="conditional-display-600"><span>{{allProjects[pid].description}}</span></td>
                        <td class="conditional-display-900"><span><button class="btn btn-link" ng-click="showProjectDetails(pid)">{{allProjects[pid].contributors.length}}</button></span>
                        </td>
                        <td class="conditional-display-900"><span><button class="btn btn-link" ng-click="showProjectDetails(pid)">{{allProjects[pid].tasks.length}}</button></span>
                        </td>
                        <td><span><button class="btn btn-success" ng-click="showProjectDetails(pid)">Details</button></span></td>
                    </tr>

                </table>
            </div>
        </div>

        <!-- Projects joined by current user -->
        <div>
            <h2 class="styled"><span class="glyphicon glyphicon-tag"></span> Joined Projects </h2>

            <div class="row">

                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Project</th>
                        <th>Owner</th>
                        <th class="conditional-display-600">Description</th>
                        <th class="conditional-display-900">#Contributors</th>
                        <th class="conditional-display-900">#Tasks</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tr ng-repeat="pid in currentUser.contributedProjects">
                        <td><img class="small-icon" ng-src="{{allProjects[pid].picUrl}}"></td>
                        <td><span> {{allProjects[pid].name}}</span></td>
                        <td><span><a ng-href="#/user:{{allUsers[allProjects[pid].owner].id}}">{{allUsers[allProjects[pid].owner].username}}</a></span>
                        </td>
                        <td class="conditional-display-600"><span>{{allProjects[pid].description}}</span></td>
                        <td class="conditional-display-900"><span><button class="btn btn-link" ng-click="showProjectDetails(pid)">{{allProjects[pid].contributors.length}}</button></span>
                        </td>
                        <td class="conditional-display-900"><span><button class="btn btn-link" ng-click="showProjectDetails(pid)">{{allProjects[pid].tasks.length}}</button></span>
                        </td>
                        <td><span><button class="btn btn-success" ng-click="showProjectDetails(pid)">Details</button></span></td>
                        <td><span><button class="btn btn-warning" type="button" ng-click="dropProject(pid)">Drop
                        </button></span></td>
                    </tr>

                </table>
            </div>
        </div>

        <!-- All projects -->
        <div>
            <h2 class="styled"><span class="glyphicon glyphicon-list-alt"></span> All Projects </h2>

            <div class="row">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><span class="glyphicon glyphicon-search"></span>
                            Search:</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control col-sm-4" ng-model="projectFilterString" id="search"
                                   placeholder="keywords...">
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Project</th>
                        <th>Owner</th>
                        <th class="conditional-display-600">Description</th>
                        <th class="conditional-display-900">#Contributors</th>
                        <th class="conditional-display-900">#Tasks</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="pid in allProjectIds | filter: projectFilter">
                        <td><img class="small-icon" ng-src="{{allProjects[pid].picUrl}}"></td>
                        <td><span> {{allProjects[pid].name}}</span></td>
                        <td><span><a ng-href="#/user:{{allUsers[allProjects[pid].owner].id}}">{{allUsers[allProjects[pid].owner].username}}</a></span>
                        </td>
                        <td class="conditional-display-600"><span>{{allProjects[pid].description}}</span></td>
                        <td class="conditional-display-900"><span><button class="btn btn-link" ng-click="showProjectDetails(pid)">{{allProjects[pid].contributors.length}}</button></span>
                        </td>
                        <td class="conditional-display-900"><span><button class="btn btn-link" ng-click="showProjectDetails(pid)">{{allProjects[pid].tasks.length}}</button></span>
                        </td>
                        <td><span><button class="btn btn-success" ng-click="showProjectDetails(pid)">Details</button></span>
                        </td>
                        <td ng-show="isContributor(allProjects[pid].id)"><span><button class="btn btn-warning"
                                                                                       type="button"
                                                                                       ng-click="dropProject(pid)">Drop
                        </button></span></td>
                        <td ng-hide="isContributor(allProjects[pid].id)"><span><button class="btn btn-primary"
                                                                                       type="button"
                                                                                       ng-click="joinProject(pid)">Join
                        </button></span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Add a new project -->
        <div class="margin-bottom">
            <h2 class="styled"><span class="glyphicon glyphicon-plus"></span> Add Project </h2>

            <div class="row">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Name:</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="newProject.name" id="name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-sm-2 control-label">Description:</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="newProject.description" id="description">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="url" class="control-label col-sm-2">Picture Link:</label>

                        <div class="col-sm-8">
                            <input type="url" class="form-control" ng-model="newProject.picUrl" id="url">
                        </div>
                    </div>
                    <div class="col-sm-offset-4">
                        <button type="button" class="btn btn-success" ng-click="addNewProject(newProject)">Add Project</button>
                        <button type="reset" class="btn btn-default">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- Show project's detail page -->

    <div ng-show="showDetailPage()">
        <div class="row margin-bottom">
            <button class="btn btn-success" ng-click="goBackToProjects()">
                <span class="glyphicon glyphicon-arrow-left"></span> Go back to projects
            </button>
        </div>
        <div class="row">
            <img ng-src="{{allProjects[showedProjectId].picUrl}}" class="medium-icon">
        </div>
        <div class="row">
            <h4>{{allProjects[showedProjectId].name}}
                <small>owned by <a href="#/user:{{allProjects[showedProjectId].owner}}">{{allUsers[allProjects[showedProjectId].owner].username}}</a></small>
            </h4>
        </div>
        <div class="row">
            <p>" {{allProjects[showedProjectId].description}} "</p>
        </div>
        <div class="row">
            <h2 class="styled"><span class="glyphicon glyphicon-user"></span> All contributors</h2>
            <ul class="list-inline">
                <li ng-repeat="c in allProjects[showedProjectId].contributors">
                    <a ng-href="#/user:{{c}}">{{allUsers[c].username}}</a>
                </li>
            </ul>
        </div>

        <div class="row">
            <h2 class="styled"><span class="glyphicon glyphicon-star"></span> My tasks</h2>
            <div class="row">
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th>Task</th>
                        <th class="conditional-display-900">Description</th>
                        <th class="conditional-display-600">Hours</th>
                        <th class="conditional-display-600">Finished</th>

                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="tid in ownedTasks">
                        <td>{{currentTasks[tid].name}}</td>
                        <td class="conditional-display-900">{{currentTasks[tid].description}}</td>
                        <td class="conditional-display-600">{{secToHours(currentTasks[tid].totalSeconds)}}</td>
                        <td class="conditional-display-600">{{currentTasks[tid].completed ? 'YES' : 'NO'}}</td>

                        <td><button class="btn btn-danger" ng-click="dropTask(tid)">Un-own</button></td>
                        <td><button class="btn btn-success" ng-click="startTimer(tid)"  ng-disabled="currentTasks[tid].completed"><span class="conditional-display-600">Start</span> <span class="glyphicon glyphicon-time"></span> </button></td>
                        <td><button class="btn btn-warning" ng-click="completeTask(tid)" ng-disabled="currentTasks[tid].completed">Finish</button>
                        </td>
                        <!-- Button trigger modal -->
                        <td><button type="button" class="btn btn-default" ng-click="showStats(tid)">Stats</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <h2 class="styled"><span class="glyphicon glyphicon-flag"></span> All tasks</h2>
            <div class="row">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><span class="glyphicon glyphicon-search"></span>
                            Search:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control col-sm-4" ng-model="taskFilterString" placeholder="keywords...">
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th>Task</th>
                        <th class="conditional-display-900">Description</th>
                        <th>Owner</th>
                        <th class="conditional-display-600">Hours</th>
                        <th>Finished</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tr ng-repeat="tid in allTasks | filter: taskFilter">
                        <td>{{currentTasks[tid].name}}</td>
                        <td class="conditional-display-900">{{currentTasks[tid].description}}</td>
                        <td>{{allUsers[currentTasks[tid].owner].username}}</td>
                        <td class="conditional-display-600">{{secToHours(currentTasks[tid].totalSeconds)}}</td>
                        <td>{{currentTasks[tid].completed ? 'YES' : 'NO'}}</td>
                        <td><button class="btn btn-success" ng-click="ownTask(tid)" ng-disabled="currentTasks[tid].owner != null">Own</button></td>
                        <!-- Button trigger modal -->
                        <td><button type="button" class="btn btn-default" ng-click="showStats(tid)">Stats</button></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="margin-bottom">
            <h2 class="styled"><span class="glyphicon glyphicon-plus"></span> Add Task </h2>

            <div class="row">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="tname" class="col-sm-2 control-label">Name:</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="newTask.name" id="tname">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="tdescription" class="col-sm-2 control-label">Description:</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="newTask.description" id="tdescription">
                        </div>
                    </div>

                    <div class="col-sm-offset-4">
                        <button type="button" class="btn btn-success" ng-click="addNewTask(newTask)">Add Task</button>
                        <button type="reset" class="btn btn-default">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="statsModal" tabindex="-1" role="dialog" aria-labelledby="statsModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Stats</h4>
                </div>
                <div class="modal-body">
                    <div class="table table-hover table-striped">

                        <div class="row">
                            <div class="col-sm-2">Task</div>
                            <div class="col-sm-2">User</div>
                            <div class="col-sm-2">Start</div>
                            <div class="col-sm-2">End</div>
                            <div class="col-sm-2">Duration</div>
                        </div>

                        <div  class="row" ng-repeat="rec in currentTasks[taskStatsId].records">
                            <div class="col-sm-2">{{currentTasks[taskStatsId].name}}</div>
                            <div class="col-sm-2">{{allUsers[rec.user].name}}</div>
                            <div class="col-sm-2">{{rec.startTime}}</div>
                            <div class="col-sm-2">{{rec.endTime}}</div>
                            <div class="col-sm-2">{{secToHours(rec.totalSeconds)}} hours</div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>