<div class="container" ng-controller="timerController as timerCtrl">

    <!-- Level 1 category -->
    <div class="row">
        <div class="content-padding-10px">
            <div class="col-sm-10, task-tag-list">
                <ul>
                    <li ng-repeat="tag in timerCtrl.tags" class="timer-tag">
                        <a ng-click="timerCtrl.chooseL1Tag(tag)"
                           ng-class="timerCtrl.isTagActivated(tag.tagName) ? 'task-tag-activated' : 'task-tag-unactivated'">
                            {{tag.tagName}}
                            <a ng-click="timerCtrl.removeL1Tag(tag)"
                               ng-class="timerCtrl.isTagActivated(tag.tagName) ? 'task-tag-activated' : 'task-tag-unactivated'">x</a>
                        </a>
                    </li>
                    <li class="timer-tag" >
                        <form class="form-inline">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Add tag"  ng-model="timerCtrl.newL1Tag">
                                </div>
                            </div>
                            <button type="button" class="btn" ng-click="timerCtrl.addL1Tag()">+</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Level 2 category  -->
    <div class="row">
        <div class="content-padding-10px">
            <div class="col-sm-10, task-tag-list" ng-show="timerCtrl.activatedTag">
                <ul>
                    <li ng-repeat="subTag in timerCtrl.activatedTag.subTags" class="timer-tag">
                        <a ng-click="timerCtrl.chooseL2Tag(subTag)"
                           ng-class="timerCtrl.isTagActivated(subTag) ? 'task-tag-activated' : 'task-tag-unactivated'">
                            {{subTag}}
                            <a ng-click="timerCtrl.removeL2Tag(subTag)"
                               ng-class="timerCtrl.isTagActivated(subTag) ? 'task-tag-activated' : 'task-tag-unactivated'">x</a>
                        </a>
                    </li>
                    <li class="timer-tag">
                        <form class="form-inline">
                            <div class="form-group">
                                <div class="input-group col-sm-6">
                                    <input type="text" class="form-control" placeholder="Add tag" ng-model="timerCtrl.newL2Tag">
                                </div>
                                <button type="button" class="btn" ng-click="timerCtrl.addL2Tag()">+</button>
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <!-- Recorder/Timer-->
    <div class="row">
        <div class="timer" ng-class="timerCtrl.enablePauseButton() ? 'timer-activated' : 'timer-unactivated'">
            {{timerCtrl.counter.hours | fixedTowLen }}:{{timerCtrl.counter.minutes | fixedTowLen }}:{{timerCtrl.counter.seconds | fixedTowLen}}
        </div>
    </div>
    <div class="row">
        <div class="timer">
            <button class="btn" ng-click="timerCtrl.startTask()" ng-class="timerCtrl.enableStartButton() ? 'btn-primary' : 'btn-unactivated'" ng-disabled="!timerCtrl.enableStartButton()"><span class="glyphicon glyphicon-play"></span></button>
            <button class="btn" ng-click="timerCtrl.pauseTask()" ng-class="timerCtrl.enablePauseButton() ? 'btn-warning' : 'btn-unactivated'" ng-disabled="!timerCtrl.enablePauseButton()"><span class="glyphicon glyphicon-pause"></span></button>
            <button class="btn" ng-click="timerCtrl.stopTask()" ng-class="timerCtrl.enableStopButton() ? 'btn-danger' : 'btn-unactivated'" ng-disabled="!timerCtrl.enableStopButton()"><span class="glyphicon glyphicon-stop"></span></button>
        </div>
    </div>

    <!-- Recent finished tasks -->
    <h3>Recent activities <small><a href="#/dashboard">Go to dashboard</a></small></h3>
    <div class="row">
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th>Start Time</th>
                <th>Stop Time</th>
                <th>Duration</th>
                <th>Category</th>
                <th>Sub-category</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="task in timerCtrl.recentTasks">
                <td>{{task.startTime.toString()}}</td>
                <td>{{task.stopTime.toString()}}</td>
                <td>{{task.duration.hours | fixedTowLen}}:{{task.duration.minutes | fixedTowLen}}:{{task.duration.seconds | fixedTowLen}}</td>
                <td>{{task.l1Tag}}</td>
                <td>{{task.l2Tag}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- Modals -->


</div>