<div class="container">

    <!-- Level 1 category -->
    <div class="row">
        <div class="content-padding-10px" ng-hide="tags.length == 0">
            <p class="text-info" ng-hide="activatedTag">Select a project:</p>
            <div class="col-sm-10, task-tag-list">

                <ul>
                    <li ng-repeat="tag in tags" class="timer-tag show-animation">
                        <a ng-click="timerCtrl.chooseL1Tag(tag)"
                           ng-class="timerCtrl.isTagActivated(tag, '1') ? 'task-tag-activated' : 'task-tag-unactivated'">
                            {{tag.tagName}}
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <div ng-show="tags.length == 0" class="text-danger">
            No working project. Please sign in and join projects in <a href="#/projects">projects</a> page!
        </div>
    </div>

    <!-- Level 2 category  -->
    <div class="row">
        <div class="content-padding-10px"  ng-show="activatedTag">
            <p class="text-info" ng-hide="activatedSubTag">Select a task: </p>
            <div class="col-sm-10 task-tag-list">

                <ul>
                    <li ng-repeat="subTag in activatedTag.subTags" class="timer-tag show-animation" >
                        <a ng-click="timerCtrl.chooseL2Tag(subTag)"
                           ng-class="timerCtrl.isTagActivated(subTag, '2') ? 'task-tag-activated' : 'task-tag-unactivated'">
                            {{subTag.tagName}}
                        </a>
                    </li>

                </ul>
            </div>

        </div>
        <div ng-show="activatedTag && activatedTag.subTags.length == 0" class="text-danger">
            No owned tasks. Go to <a href="#/projects">projects</a>->tasks page to own tasks!
        </div>
    </div>


    <!-- Recorder/Timer-->
    <div class="row">
        <div class="timer" ng-class="timerCtrl.enablePauseButton() ? 'timer-activated' : 'timer-unactivated'">
            {{timerCtrl.counter.hours | fixedTowLen }}:{{timerCtrl.counter.minutes | fixedTowLen }}:{{timerCtrl.counter.seconds | fixedTowLen}}
        </div>
    </div>
    <div class="row">
        <div class="timer">
            <button class="btn" ng-click="timerCtrl.startTask()" ng-class="timerCtrl.enableStartButton() ? 'btn-primary' : 'btn-unactivated'" ng-disabled="!timerCtrl.enableStartButton()"><span class="glyphicon glyphicon-play"></span></button>
            <button class="btn" ng-click="timerCtrl.pauseTask()" ng-class="timerCtrl.enablePauseButton() ? 'btn-warning' : 'btn-unactivated'" ng-disabled="!timerCtrl.enablePauseButton()"><span class="glyphicon glyphicon-pause"></span></button>
            <button class="btn" ng-click="timerCtrl.stopTask()" ng-class="timerCtrl.enableStopButton() ? 'btn-danger' : 'btn-unactivated'" ng-disabled="!timerCtrl.enableStopButton()"><span class="glyphicon glyphicon-stop"></span></button>
        </div>
    </div>

    <!-- Recent finished tasks -->
    <h3>Recent activities </h3>
    <p class="text-info">Go to <a href="#/projects">projects</a>->tasks->stats to view all statistics about this task!</p>
    <div class="row">
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th>Project</th>
                <th>Task</th>
                <th>Start Time</th>
                <th>Stop Time</th>
                <th>Hours</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="task in timerCtrl.recentTasks">
                <td>{{task.projectname}}</td>
                <td>{{task.taskname}}</td>
                <td>{{task.startTime}}</td>
                <td>{{task.stopTime}}</td>
                <td>{{secToHours(task.totalSeconds)}} hours</td>

            </tr>
            </tbody>
        </table>
    </div>

    <!-- Modals -->


</div>